.square {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.column {
    display: flex;
}

.white {
    border: 1px solid black;
}

.black {
    background-color: black;
}